$Softorange: hsl(35, 77%, 62%);
$Softred: hsl(5, 85%, 63%);

$Off-white: hsl(36, 100%, 99%);
$Grayishblue: hsl(233, 8%, 79%);
$Darkgrayishblue: hsl(236, 13%, 42%);
$Verydarkblue: hsl(240, 100%, 5%);
$default-fonstsize: 1.6rem;

$phone: 37.5em;
$tab-port: 47.8em;
$tab-land: 56.25em;
$laptop: 75em;
